<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Two Selves</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="scripts/base.js"></script>
  <script src="scripts/navigation.js"></script>
  <script src="scripts/instagram.js"></script>
</html>
