<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Two Selves</title>
    <link href='https://fonts.googleapis.com/css?family=Pathway+Gothic+One|Lato' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <header><h1> Two Selves </h1></header>
    {{{body}}}
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="scripts/base.js"></script>
  <script src="scripts/navigation.js"></script>
  <script src="scripts/instagram.js"></script>
</html>
