<div class="about-p">
	<section>
		<h2>About</h2>
		<p>Two Selves is an experimental project made for one of my art classes in Gallatin. Through our readings and discussions one one of the subjects that kept coming up was how technology has allowed us to create different versions of ourselves. There's you and there's the you that is on social media.</p>

		<p>I created this project because I wanted to explore this idea of our multiple selves. What happens when you juxtapose an image from Instagram - something that is mainly very curated and displays our aspirational selves against an image that is not curated or edited and (hopefully) displays our truer selves? </p>
	</section>
</div>