<section class="step1">
	<button id="snap">Snap Photo</button>
	<video id="video" width="640" height="640" autoplay></video>
	<canvas class="canvas" width="640" height="640"></canvas>
	<img width="20px" class="right-arrow" src="img/arrow-r.svg"/>
</section>

<section class="step2">
	<div class="form">
		Instagram Username: <input type="text" name="instaUsername"/>
		<button id="getInsta">Get Instagram Pic </button>
	</div>
	<img src="" class="instaImg"/>
	<img width="20px" class="left-arrow" src="img/arrow-l.svg"/>
	<img width="20px" class="right-arrow" src="img/arrow-r.svg"/>
</section>

<section class="step3">
	<img width="20px" class="left-arrow" src="img/arrow-l.svg"/>
	<img src="" class="instaImg"/>
	<canvas class="canvas" width="640" height="640"></canvas>
</section>
